html, body {
    margin: 0;
    padding: 0;
    height: 100%;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

a {
    color:#000000;
    text-decoration: none;
}
a:visited {color:#000000;}
a:hover {color:#00a8ec;}
a:active {color:#00a8ec;}

#wrapper {
    min-height: 100%;
    position: relative;
}

#main_header {
    width: 100%;
    height: 50px;
    line-height: 50px;
    vertical-align: middle;
    text-align: center;
    background-color: #00a8ec;
    color: #ffffff;
}

#main_content {
    padding-bottom: 30px;
    margin-left: 0px;
    margin-right: auto;
    max-width: 800px;
}

#content_menu {
    width: 200px;
    float: left; 
}

#content_desc {
    margin: 0 auto;
    float: left;
}

#main_list {
}

#main_footer {
    width: 100%;
    height: 30px;
    line-height: 30px;
    color: #aaaaaa;
    position: absolute;
    text-align: center;
    vertical-align: middle;
    bottom: 0;
    left: 0;
}

#title {
    width: 100%;
    height: 60px;
    line-height: 60px;
    vertical-align: middle;
    font-size: 30px;
    font-weight: bold;
}

#writedate {
    margin: 15px 0;
    color: #999999;
}

#description {
    
}

.navheader {
    height: 50px;
    line-height: 50px;
    vertical-align: middle;
    text-align: center;
}

.nav li {
    color: black;    
    height: 50px;
    line-height: 50px;
    vertical-align: middle;
    padding-left: 10px;
}

.nav li:hover {
    background-color: #00a8ec;
    cursor: pointer;
    color: white;
}

.nav li.active {
    background-color: #00a8ec;
    color: white;
}

.content.title {
    font-size: 30px;
    padding: 10px;
}

.content.description {
    padding: 10px;
}
