body {
    margin: 0;
    padding: 0;
}

#main_header {
    width: auto;
    height: 50px;
    background-color: #00a8ec;
    color: #ffffff;
}

#main_footer {
    width: auto;
    height: 30px;
    color: #aaaaaa;
}
