body {
    margin: 0;
    padding: 0;
}

#wrapper {
    min-height: 100%;
    position: relative;
}

#main_header {
    width: auto;
    height: 50px;
    background-color: #00a8ec;
    color: #ffffff;
}

#main_content {
    padding-bottom: 30px;
}

#main_footer {
    width: auto;
    height: 30px;
    color: #aaaaaa;
    position: absolute;
    bottom: 0;
    left: 0;
}
