<!DOCTYPE html>
<html ng-app="app">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <script type="text/javascript" src="/js/angular.js"></script>
        <script type="text/javascript" src="/js/angular-route.js"></script>
        <script type="text/javascript" src="/js/interactive.js"></script>
        <link rel="stylesheet" type="text/css" href="css/interactive.css" />
    </head>
    <body>
        <div id="wrapper">
            <div id="main_header" ng-include="'header.html'">
            </div>
            <div id="main_content" ng-controller="PageController as page">
                <div id="content_menu">
                    <ul class="nav" ng-init="page.setPage(1)">
                        <a href ng-click="page.setPage({{$index+1}})" ng-repeat="menu in page.menus">
                        <li ng-class="{active:page.isPage({{$index+1}})}">{{menu.title}}</li></a>
                    </ul>
                </div>
                <div id="content_desc">
                    <div ng-repeat="content in page.contents">
                        <div ng-show="page.isPage({{$index+1}})">
                            <div>{{content.title}}</div>
                            <div>{{content.description}}</div>
                        </div>
                    </div>
                </div>
            </div>
            <div id="main_footer" ng-include="'footer.html'">
            </div>
        </div>
    </body>
</html>
